<div class="metadata-section">
    <h3>{{name}}</h3>
    
    <div class="metadata-group">
        <h4>File Information</h4>
        <div class="metadata-row">
            <span class="metadata-label">Type:</span>
            <span class="metadata-value">{{fileType}} ({{extension}})</span>
        </div>
        <div class="metadata-row">
            <span class="metadata-label">Size:</span>
            <span class="metadata-value">{{fileSize}}</span>
        </div>
        <div class="metadata-row">
            <span class="metadata-label">Date:</span>
            <span class="metadata-value">{{dateCreated}}</span>
        </div>
        <div class="metadata-row">
            <span class="metadata-label">Path:</span>
            <span class="metadata-value">{{path}}</span>
        </div>
    </div>
    
    <div id="additional-metadata"></div>
</div>
